html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd,
ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead,
tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio,
video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
    background: url("../images/about-me4.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: arial, sans-serif;
    overflow-x: hidden;
}

.Site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.width {
    width: 30%;
}

.social-list {
    list-style: none;
}

.flex-flexEnd {
    display: flex;
    justify-content: flex-end;
}

.flex-spaceAround {
    display: flex;
    justify-content: space-around;
}

.row-flexEnd {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

.flex-spaceBetween {
    display: flex;
    justify-content: space-between;
}

.margin-allAround {
    margin: 1em;
}

.margin-Left {
    margin-left: 1em;
}

.margin-right {
    margin-right: 1em;
}

.nav {
    height: 70px;
    line-height: 70px;
    text-align: right;
}
.menu {
    margin: 0 30px 0 0;
}
.menu a {
    clear: right;
    color: black;
    margin: 0 10px;
    position: relative;
    text-decoration: none;
    z-index:1000;
}
.nav label {
  display: none;
  float: right;
    margin: 20px 35px 0 0;

}
#toggle {
    display: none;
}
@media only screen and (max-width: 500px) {
    .nav label {
      cursor: pointer;
        display: block;

    }
    .menu {
      display: none;
        text-align: center;
        width: 100%;
        background-color: #D66767;
    }
    .menu a:first-child {
        border-top: 2px solid #000;
    }
    .menu a {
      background-color: #D66767;
      border-bottom: 2px solid #000;
        display: block;
      font-weight: bold;
        margin: 0;
    }
    .menu a:hover {
        color: white;
    }
    #toggle:checked + .menu {
        display: block;
    }
    footer {
        text-align: center;
    }
    footer ul li {
        align-content: center;
    }
    footer ul {
        margin-left: 20px;
    }
}

.content {
  flex: 1;
  margin: 25vh auto 5vh auto;
    width: 80%;
}

.main-container {
    display: flex;
    justify-content: space-around;
}

.left-container {
    display: flex;
    flex: 2;
    flex-flow: column wrap;
    justify-content: flex-end;
}

.right-container {
  color: white;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 390px;
    justify-content: flex-start;
}

.half-top-container {
    background-color: #D66767;
    border: 2px solid black;
    border-radius: 10px;
    opacity: 0.8;
    padding: 3em;
}

.half-top-container h1 {
    font-size: 40px;
    text-align: center;
}

.half-top-container p {
    font-size: 20px;
}
