html {
    background: url("../images/about-me5.png") no-repeat center center fixed;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    font-family: arial, sans-serif;
    overflow-x: hidden;
}

p {
    font-size: 1.3em;
    line-height: 2em;
}

.left-container img {
    border-radius: .2em;
    border: .2em solid black;
    background-color: black;
    margin-top: 2em;
    display: none;
}

@media only screen and (max-width: 660px) {
    html {
        background: url("../images/just-train.png") no-repeat center center fixed;
    }

    .left-container p {
        text-align: left;
    }

    .left-container img {
        display: block;
    }
}

.left-container {
    color: #fff;
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #d66767;
    border: .1em solid #000;
    border-radius: .6em;
    opacity: .8;
    padding: 3em;
    margin-bottom: 4em;
}

.right-container {
    flex: 2;
}

.homepage-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.landscape-image {
  width: 100%;
}
.guitar-image {
  width: 100%;
}
