html {
    background: url("../images/just-train.png") no-repeat center center fixed;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    font-family: arial, sans-serif;
    overflow-x: hidden;
}

h1 {
    font-size: 2.5em;
    text-align: left;
    color: #e2d9d9;
}

h2 {
    font-size: 1.25em;
}

p {
    font-size: 1.3em;
    color: #e2d9d9;
    line-height: 2em;
}

.main-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.flex-form {
    background-color: #d66767;
    border: .1em solid black;
    border-radius: .1em;
    list-style-type: none;
    margin: 0 auto;
    max-width: 800px;
    opacity: .8;
    margin-bottom: 2em;
}

.flex-form li {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.flex-form li label {
    font-weight: 600;
    letter-spacing: .09em;
    margin-left: .5em;
    padding: .6em;
    text-transform: uppercase;
}

.flex-form > li > label {
    flex: 1 0 7.5em;
    max-width: 13.75em;
    color: #000;
}

.flex-form > li > label + * {
    flex: 1 0 13.75em;
}

.flex-form input {
    border: .05em solid #000;
}

.flex-form li input, .flex-form li textarea {
    border-radius: .1em;
    font-size: .9em;
    margin: 1em;
    padding: 1em;
    outline: none;
}

.flex-form li textarea {
    border: .05em solid #000;
    border-radius: .1em;
    resize: none;
    overflow-x: hidden;
}

.flex-form li button {
    background: #333;
    border-radius: .1em;
    color: #f2f2f2;
    font-size: .7em;
    letter-spacing: .09em;
    margin: 1em 1.3em 1em auto;
    padding: 1em 1.7em;
    text-transform: uppercase;
}

.flex-form li button:hover {
    background-color: #eee;
    color: black;
    border: .1em solid #000;
}
