html {
    background: url("../images/just-train.png") no-repeat center center fixed;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    font-family: arial, sans-serif;
    overflow-x: hidden;
}

.my-work {
    text-align: center;
    color: #fff;
    background-color: #d66767;
    border: .1em solid #000;
    border-radius: 5px;
    margin-bottom: 2em;
    opacity: .9;
}

.my-work img {
    align-self: center;
}

.my-work p {
    font-size: 1.2em;
    line-height: 2em;
}
