* {
    margin: 0;
    padding: 0;
    outline: 0;
}

html {
    background: url("./images/alex.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: arial, sans-serif;
    overflow-x: hidden;
}

.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.width {
    width: 30%;
}

.social-list {
    list-style: none;
}

.flex-flexEnd {
    display: flex;
    justify-content: flex-end;
}

.flex-spaceAround {
    display: flex;
    justify-content: space-around;
}

.row-flexEnd {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

.flex-spaceBetween {
    display: flex;
    justify-content: space-between;
}

.margin-allAround {
    margin: 1em;
}

.margin-Left {
    margin-left: 1em;
}

.margin-right {
    margin-right: 1em;
}

#nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    z-index: 9999;
}

#nav li {
    display: inline-flex;
    list-style-type: none;
}

#nav a {
    color: black;
    padding: 0.5em;
    border-radius: 1em;
    border: 2px solid black;
    background-color: #D66767;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    opacity: 0.8;
}

#nav a:hover {
    border: 2px solid white;
    color: white;
}

#content {
    width: 80%;
    margin: 25vh auto 0 auto;
    flex: 1;
}

.main-container {
    display: flex;
    justify-content: space-around;
}

.left-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    flex: 2;
}

.right-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
    flex: 1;
    margin-top: 100px;
}

.half-top-container {
    background-color: #D66767;
    opacity: 0.8;
    border-radius: 10px;
    padding: 3em;
    border: 2px solid black;
}

.half-top-container h1 {
    font-size: 50px;
    text-align: center;
}

.half-top-container p {
    font-size: 20px;
}