* {
    margin: 0;
    padding: 0;
    outline: 0;
}
html, body {
    width: 100%;
    height: 100%;
}
html {
    background: url("./images/alex.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: arial, sans-serif;
    overflow-x: hidden;
}
#nav {
    text-align: right;
    height: 70px;
    line-height: 70px;
}
.menu {
    margin: 0 30px 0 0;
}
.menu a {
    clear: right;
    text-decoration: none;
    color: black;
    margin: 0 10px;
    z-index:1000;
    position: relative;
}
#nav label {
    margin: 20px 35px 0 0;
    display: none;   
    float: right;
}
#toggle {
    display: none;
}
.logo {
    float: left;
}
@media only screen and (max-width: 500px) {
    #nav label {
        display: block;
        cursor: pointer;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;

    }
    .menu a:first-child {
        border-top: 2px solid #000;
    }
    .menu a {
        display: block;
        border-bottom: 2px solid #000;
        margin: 0;
        background-color: #D66767;
        font-weight: bold;
    }
    .menu a:hover {
        color: white;
    }
    #toggle:checked + .menu {
        display: block;
    }
    footer {
        text-align: center;
    }

    footer ul li {
        align-content: center;
    }
    footer ul {
        margin-left: 20px;
    }
}

.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.width {
    width: 30%;
}

.social-list {
    list-style: none;
}

.flex-flexEnd {
    display: flex;
    justify-content: flex-end;
}

.flex-spaceAround {
    display: flex;
    justify-content: space-around;
}

.row-flexEnd {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

.flex-spaceBetween {
    display: flex;
    justify-content: space-between;
}

.margin-allAround {
    margin: 1em;
}

.margin-Left {
    margin-left: 1em;
}

.margin-right {
    margin-right: 1em;
}

#content {
    width: 80%;
    margin: 25vh auto 0 auto;
    flex: 1;
}

.main-container {
    display: flex;
    justify-content: space-around;
}

.left-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    flex: 2;
}

.right-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
    flex: 1;
}

.half-top-container {
    background-color: #D66767;
    opacity: 0.8;
    border-radius: 10px;
    padding: 3em;
    border: 2px solid black;
}

.half-top-container h1 {
    font-size: 50px;
    text-align: center;
}

.half-top-container p {
    font-size: 20px;
}
img:hover {
    opacity: 0.7;
}
footer {
    font-weight: bold;
}

footer img:hover {
    transform: rotate(-15deg);
    cursor: pointer;
    height: 61px;
    width: 61px;
}